---
permalink: /search-index.json
eleventyExcludeFromCollections: true
---

[
{% for page in collections.all %}
  {
    "title": {{ page.data.title | dump | safe }},
    "url": {{ page.url | dump | safe }},
    "content": {{ page.content | striptags | replace("&quot;", "\"") | dump | safe }},
    "headings": {{ page.content | extractHeadings | dump | safe }}
  }{% if not loop.last %},{% endif %}
{% endfor %}
]